html {
  height: 100%;
}

body {
  height: 100%;
}

#root {
  height: 100%;
}

.main {
  margin: 30px 15% 0 15%;
  text-align: center;
}

.btn {
  color: #FFF;
  border-radius: 7px;
  display: inline-block;
  height: 50px;
  width: 190px;
  text-align: center;
  font-size: 25px;
  line-height: 50px;
  background: #ff4040;
  overflow: hidden;
  text-decoration:none;
  cursor: pointer;
}

.btn span {
  display:inline-block;
  transition: .5s;
}

.btn:hover span {
  -webkit-transform: rotateX(360deg);
  transform: rotateX(360deg);
}

.anser-text, .question-text {
  font-size: 2rem;
}

.under-red {
    background: linear-gradient(transparent 70%, #ff99ab 70%);
}

input[type="text"] {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-bottom:#ff99ab 1px solid;
  width: 80%;
  font-size: 1.5rem;
}

.correct {
  font-size: 3rem;
  color: #ff99ab;
}

.uncorrect {
  font-size: 3rem;
  color: #117CB1;
}